<% layout('/layout') %>
<% block('title', 'Equipment Questions')%>

<script src="/socket.io/socket.io.js" defer></script>
<script src="/script.js" defer></script>

<h2> Equipment Questions </h2>
<form>
	<div class="form-inline col-sm-8 selection">
    <h3> Chem Feed Pumps </h3>
		<label> Owned by Site or Competitor? </label>				
<select>
	<option value="na">---</option>
	<option value="site">Site</option>
	<option value="competitor">Competitor</option>
	</select>
		<label> Are they Sufficient?</label>				
<select>
	<option value="na">---</option>
	<option value="yes">Yes</option>
	<option value="no">No</option>
	</select>
</div>
	  <div class="form-group col-sm-8">
	<form >
        <label for="usr">Pump Recommendation(s):</label>
            <input class="form-control"   >
        <label for="usr">Part NO:</label>
        <input class="form-control"   >
			 </div>



	<div class="form-inline col-sm-8 selection">
    <h3> Chemical Storage </h3>
		<label> How is chemical currently stored / fed? (drums, pails, tote) </label>				
<select>
	<option value="na">---</option>
	<option value="drums">Drums</option>
	<option value="pails">Pails</option>
    <option value="tote">Tote</option>
	</select>
		<label> Is transfer service currently provided?</label>				
<select>
	<option value="na">---</option>
	<option value="yes">Yes</option>
	<option value="no">No</option>
	</select>
</div>

	  <div class="form-group col-sm-8">
	<form >
        <label for="usr">Storage Recommendation(s):</label>
            <input class="form-control"   >
        <label for="usr">Part NO:</label>
         <input class="form-control"   >

        <label for="usr">Recommendation(s):</label>
            <input class="form-control"   >
        <label for="usr">Part NO:</label>
        <input class="form-control"   >
			 </div>


	<div class="form-inline col-sm-8 selection">
    <h3> Boiler Blowdown Controller </h3>
		        <label> Present? </label>
                     <select>
                    <option value="na">---</option>
                    <option value="yes">Yes</option>
                    <option value="no">No</option>
                    </select>
       		<label> Owned by Site or Competitor? </label>				
                    <select>
                    <option value="na">---</option>
                    <option value="site">Site</option>
                    <option value="competitor">Competitor</option>
                    </select>
		<label> Are they Sufficient?</label>				
                     <select>
                    <option value="na">---</option>
                    <option value="yes">Yes</option>
                    <option value="no">No</option>
                    </select>	
        <label> Is one required to improve boiler cycles / control scaling </label>
                    <select>
                    <option value="na">---</option>
                    <option value="yes">Yes</option>
                    <option value="no">No</option>
                    </select>
         </div>

	<div class="form-group col-sm-8 selection">
        <label for="usr">Recommendation(s):</label>
                <input class="form-control" >
        <label for="usr">Part NO:</label>
                <input class="form-control"   >
         <label for="usr">Part NO:</label>
                <input class="form-control"   >
        <label for="usr">Other Boiler Equipment:</label>
                <input class="form-control" >
        <label for="usr">Part NO:</label>
                <input class="form-control"   >

         </div>


	<div class="form-inline col-sm-8 selection">
    <h3> Tower Blowdown Controller </h3>
		        <label> Present? </label>
                     <select>
                    <option value="na">---</option>
                    <option value="yes">Yes</option>
                    <option value="no">No</option>
                    </select>
       		<label> Owned by Site or Competitor? </label>				
                    <select>
                    <option value="na">---</option>
                    <option value="site">Site</option>
                    <option value="competitor">Competitor</option>
                    </select>
		<label> Are they Sufficient?</label>				
                     <select>
                    <option value="na">---</option>
                    <option value="yes">Yes</option>
                    <option value="no">No</option>
                    </select>	
        <label> Is one required to improve boiler cycles / control scaling </label>
                    <select>
                    <option value="na">---</option>
                    <option value="yes">Yes</option>
                    <option value="no">No</option>
                    </select>
         </div>

	<div class="form-group col-sm-8 selection">
        <label for="usr">Recommendation(s):</label>
                <input class="form-control" >
        <label for="usr">Part NO:</label>
                <input class="form-control"   >
         <label for="usr">Part NO:</label>
                <input class="form-control"   >
        <label for="usr">Other Boiler Equipment:</label>
                <input class="form-control" >
        <label for="usr">Part NO:</label>
                <input class="form-control"   >
     </div>
          <button class="btn btn-success btn-lg" style="margin: 60px; border-color:black;">Submit</button>
</form> 
