<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js" defer></script>
<script src="/socket.io/socket.io.js" defer></script>
<script src="/script.js" defer></script>
    <link rel="stylesheet" href="./style.css">
    <title>Boiler Systems</title>
    
</head> 

<body>
<nav class="navbar navbar-inverse navbar-fixed-top">
<div class="container">
 </div>
</nav>

<div class="container">
    <div style="text-align:center;" class="jumbotron">
      <h1>Boiler Systems</h1>
      <div>
        <p class="lead">Survey and Calculation Tool</p>
        <div><a href="/login" class="btn btn-primary btn-lg">Sign In</a>  or  <a href="/register" class="btn btn-warning btn-lg">Register</a></div>
      </div>
    </div>
    <div class="col-sm-4">
    <div><a href="/instruction" class="btn btn-danger btn-lg">PROTOTYPES</a> 
      <div class="panel panel-default">
      </div>
    </div>
  </div>
  <div class="footer">
    <div class="container"></div>