<% layout('/layout') %>
<% block('title', 'Getting Started') %>
<script src="/socket.io/socket.io.js" defer></script>
<script src="/script.js" defer></script>


<h2> Survey & Proposal Instructions</h2>
<ol>
  <li>The purpose of this survey and proposal tool is to help you collect the information required to identify and propose a HAWKINS boiler and cooling water program for your facility.
</li>
  <li>The survey data required is very basic.  Many facilities do not have water meters / steam meters for calculating program consumption.  To achieve speed of conversion, this tool uses cooling tower tonnage / recirc rate and steam boiler horse power.
</li>
  <li>If your facility has accurate  water meter and steam meter data, please include it when returning this form, and it is okay to add a sheet showing your calculations based on meter data.  However, the basic survey information must still be completed.
</li>
</ol> 


<button class="accordion" style="background-color: #FFC080;">The BoilerCoolilng Survey Form   (Click Here)</button>
<div class="panel">
  <p>The BoilerCooling survey form must be completed while on site to ensure you have the data you need before you leave.  The Light Blue cells require your input to calculate program costs and some basic return on investment.
</p>
</div>

<button class="accordion"  style="background-color: #FF9D3A;">Tower Cycles of Concentration - water Savings    (Click Here)</button>
<div class="panel">
  <p>The spreadsheet will ask you to input the current cycles and the cycles you can achieve with our program.  The water savings and dollar savings will automatically calculate.
</p>
</div>

<button class="accordion"  style="background-color:#FF8000;">Cooling System Energy Savings    (Click Here)</button>
<div class="panel">
  <p>If the tower supports a refrigeration process, and you have identified a scaling and / or bio situation, please use the chiller efficiency tab to estimate a return on investment energy savings.  If the tower in question  supports other utility cooling applications (pump seals, air compressors etc) please leave blank unless you have additional information.
</p>
</div>

<button class="accordion" style="background-color:#DA7100;">Boiler Cycles of Concentration    (Click Here)</button>
<div class="panel">
  <p>water & energy savings.  The spreadsheet will ask you to input the current cycles and the cycles you can achieve with our program.  The water savings and dollar savings will automatically calculate.
</p>
</div>

<button class="accordion" style="background-color:#CB6C00;">Boiler System Energy Savings from Scale Reduction     (Click Here)</button>
<div class="panel">
  <p> If you identify a scaling condition within your boilers, please use the boiler efficiency tool to estimate the energy savings.
</p>
</div>

<button class="accordion"style="background-color:#F07A00;">Boiler Program Selection    (Click Here)</button>
<div class="panel">
  <ul>
  <li>If your plant has a steam system with a properly operating DA, your program should be 22310, 1700 and 352</li>
  <li>If your plant only has a feedwater heater - your program should be 22310, 1720, and 352</li>
 <li>If you have a very small steam boiler (like a clayton) you can use an all in one 22350</li>
</ul>
</div>
<button class="accordion"style="background-color:#FF8F1F;">Equipment Needs    (Click Here)</button>
<div class="panel">
  <p>During the plant survey please examine the control equipment and pumps we will use for implementation of our programs.  If they are non-existant, or beyond serviceable life, please detail your observations and  recommendations (part no and book price) on the Equipment Needs form.
</p>
</div>

<button class="accordion"style="background-color:#FFB264;">ROI    (Click Here)</button>
<div class="panel">
  <p>The most common ROI opportunities which we have observed so far are.</p>
  <ol>
  <li> Cooling towers operating at extremely low cycles - sometimes with treatment, sometimes with out.  We have also seen many systems with no biocide feed present. </li> 
  <li> Cooling towers operating at exessive cycles of concentration resulting scaling. </li> 
  <li> Steam boiler systems not treated.  </li>
  <li>  Steam boiler systems operating at low cycles of concentration. </li> 
  <li>  no condensate return.</li>
  </ol>
&#42;During your survey please be sure to investigate these areas and look for additional opportunities for M.O.C. projects.<br><br>

<ul>
<li>When you have filled in the BoilerCooling Form and Equipment Needs Form completely, the program price totals and ROI calcs will automatically populate.  There is a space for each application area for you to add your comments and observations.  At the bottom of the proposal form there is space for you to add any additional project areas / areas for improvment.  THIS IS THE ONLY CUSTOMER FACING DOCUMENT INCLUDED WITH THIS FILE. 
</li>
</ul>
</div>

<script>
var acc = document.getElementsByClassName("accordion");
var i;

for (i = 0; i < acc.length; i++) {
  acc[i].onclick = function() {
    this.classList.toggle("active");
    var panel = this.nextElementSibling;
    if (panel.style.maxHeight){
  	  panel.style.maxHeight = null;
    } else {
  	  panel.style.maxHeight = panel.scrollHeight + "px";
    } 
  }
}
</script>