<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
   <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
   <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="./style.css">
    <link rel="stylesheet" href="./script.js">
    <title><%=blocks.title%></title>
    
<head> 

<body>
    <nav class="navbar navbar-default navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" data-toggle="collapse" data-target="#myNavbar" class="navbar-toggle"><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span></button>
        </div>
        <div id="myNavbar" class="collapse navbar-collapse">
          <ul class="nav navbar-nav">
            <li> <a type="button" href="/" class="btn btn-success" >HOME</a></li>
            <li class="dropdown "></li>
             <li><a type="button" href="/instruction"class="btn btn-info" >Getting Started</a> </li>
             <li><a type="button" href="/boiler" class="btn btn-primary" >Boiler Sys Survey</a> </li>
             <li><a type="button" href="/system" class="btn btn-primary" >Gen Sys Info</a></li> 
             <li><a type="button" href="/chemtest" class="btn btn-primary">Chem Feed & Testing</a></li>
             <li><a type="button" href="/watercare" class="btn btn-primary">Water Care Survey</a></li>
             <li><a type="button" href="/equipquest" class="btn btn-primary">Equipment Questions</a></li>
          </ul>
          <ul class="nav navbar-right">
            <li><a class="btn btn-default" type="button" href="/login">LOGOUT</a></li>
          </ul>
        </div>
      </div>
    </nav>


<div class="fluid-container">
    <%- body %>
</div> <!-- /container -->
</body>
</html>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js" ></script>