.column {
    float: left;
    width: 33%;
}

input {
    display: block;
    margin-bottom: 20px;
    height: 40px;
}

body {
    padding-top: 130px;
    padding-bottom: 20px;
    background-color: #7E8F7C;
    color: black;
}

form {
    white-space: nowrap;
    margin: 50px 0px 50px 50px;
}

a {
    /*margin: 5px;*/
    font-weight: bold;
}

table {
    margin: 20px;
}

h2 {
    margin-left: 50px;
}

h3 {
    margin-left: 50px;
}

ol {
    font-size: 1.2em;
    color: black;
}

ul {
    font-size: 1.2em;
    color: black;
}

li {
    margin-bottom: 10px;
}

.selection {
    /* used in system.ejs   */
    margin: 15px;
}

button.accordion {
    /* used in instruction.ejs   */
    background-color: #eee;
    color: black;
    cursor: pointer;
    padding: 14px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 20px;
    transition: 0.4s;
}

p {
    /* used throughout app   */
    font-size: 18px;
    color: black;
}


/*  accordian behavior in instruction.ejs   */

button.accordion.active,
button.accordion:hover {
    background-color: white;
}

div.panel {
    padding: 0 10px;
    background-color: white;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
}

.btn-primary {
    color: black;
}

.tempfix {
    margin-left: 10%;
}

.navbar {
    background-color: #7E8F7C;
}


/* This changes our text color  */

.navbar-default .navbar-nav>li>a {
    color: black;
}

.hawkinsrep {
    background-color: deepskyblue;
    font-size: 1.2em;
}

.totals {
    background-color: yellow;
    padding: 10px;
    font-size: 1.2em;
    font-weight: bold;
    margin: 3px;
    border-radius: 5px;
}

#frame {
    font-weight: bold;
    font-size: 1.2em;
    background-color: white;
    padding: 10px;
    margin: 3px;
    border-radius: 5px;
    border-color: brown;
}

#repframe {
    font-weight: bold;
    font-size: 1.2em;
    padding: 10px;
    margin: 3px;
    border-radius: 5px;
    border-color: brown;
}

.dropdown {
    color: white;
    background-color: white;
    border-color: black;
}


/* POPUP CSS  */


/* Outer */

.popup {
    width: 100%;
    height: 100%;
    display: none;
    position: fixed;
    top: 0px;
    left: 0px;
    background: rgba(0, 0, 0, 0.75);
}


/* Inner */

.popup-inner {
    max-width: 700px;
    width: 90%;
    padding: 40px;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    box-shadow: 0px 2px 6px rgba(0, 0, 0, 1);
    border-radius: 3px;
    background: #fff;
}


/* Close Button */


/* Outer */

.popup {
    width: 100%;
    height: 100%;
    display: none;
    position: fixed;
    top: 0px;
    left: 0px;
    background: rgba(0, 0, 0, 0.75);
}


/* Inner */

.popup-inner {
    max-width: 700px;
    width: 90%;
    padding: 40px;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    box-shadow: 0px 2px 6px rgba(0, 0, 0, 1);
    border-radius: 3px;
    background: #fff;
}


/* Close Button */

.popup-close {
    width: 30px;
    height: 30px;
    padding-top: 4px;
    display: inline-block;
    position: absolute;
    top: 0px;
    right: 0px;
    transition: ease 0.25s all;
    -webkit-transform: translate(50%, -50%);
    transform: translate(50%, -50%);
    border-radius: 1000px;
    background: rgba(0, 0, 0, 0.8);
    font-family: Arial, Sans-Serif;
    font-size: 20px;
    text-align: center;
    line-height: 100%;
    color: #fff;
}

.popup-close:hover {
    -webkit-transform: translate(50%, -50%) rotate(180deg);
    transform: translate(50%, -50%) rotate(180deg);
    background: rgba(0, 0, 0, 1);
    text-decoration: none;
}

.funbtn {
    -moz-box-shadow: 0px 10px 14px -7px #276873;
    -webkit-box-shadow: 0px 10px 14px -7px #276873;
    box-shadow: 0px 10px 14px -7px #276873;
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #599bb3), color-stop(1, #408c99));
    background: -moz-linear-gradient(top, #599bb3 5%, #408c99 100%);
    background: -webkit-linear-gradient(top, #599bb3 5%, #408c99 100%);
    background: -o-linear-gradient(top, #599bb3 5%, #408c99 100%);
    background: -ms-linear-gradient(top, #599bb3 5%, #408c99 100%);
    background: linear-gradient(to bottom, #599bb3 5%, #408c99 100%);
    filter: progid: DXImageTransform.Microsoft.gradient(startColorstr='#599bb3', endColorstr='#408c99', GradientType=0);
    background-color: #599bb3;
    -moz-border-radius: 8px;
    -webkit-border-radius: 8px;
    border-radius: 8px;
    display: inline-block;
    cursor: pointer;
    color: #ffffff;
    font-family: Arial;
    font-size: 20px;
    font-weight: bold;
    padding: 13px 32px;
    text-decoration: none;
    text-shadow: 0px 1px 0px #3d768a;
    margin-bottom: 10px;
}

.funbtn:hover {
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #408c99), color-stop(1, #599bb3));
    background: -moz-linear-gradient(top, #408c99 5%, #599bb3 100%);
    background: -webkit-linear-gradient(top, #408c99 5%, #599bb3 100%);
    background: -o-linear-gradient(top, #408c99 5%, #599bb3 100%);
    background: -ms-linear-gradient(top, #408c99 5%, #599bb3 100%);
    background: linear-gradient(to bottom, #408c99 5%, #599bb3 100%);
    filter: progid: DXImageTransform.Microsoft.gradient(startColorstr='#408c99', endColorstr='#599bb3', GradientType=0);
    background-color: #408c99;
}

.funbtn:active {
    position: relative;
    top: 1px;
}